*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}

a {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: repeating-linear-gradient(
      90deg,
      firebrick,
      firebrick 20px,
      beige 0,
      beige 25px,
      forestgreen 0,
      forestgreen 35px,
      gold 0,
      gold 40px,
      crimson 0,
      crimson 60px
    ),
    repeating-linear-gradient(
      firebrick,
      firebrick 20px,
      beige 0,
      beige 25px,
      forestgreen 0,
      forestgreen 35px,
      gold 0,
      gold 40px,
      crimson 0,
      crimson 60px
    );
  background-blend-mode: multiply;
}
